
<section id="sobre-mi" class="relative text-white pb-0 pt-20 px-20 min-h-screen">
   
    <span class="absolute top-30 left-0 text-[23rem] font-black text-[#7c6fff]/3 leading-none select-none pointer-events-none scale-x-70">
        02
    </span>
    <div class="flex items-center gap-10">
        <p class="font-mono text-sm tracking-widest text-[#7c6fff] whitespace-nowrap uppercase">
            02 / sobre mí
        </p>
        <div class="flex-1 h-[1px] bg-gradient-to-r from-[#7c6fff] to-transparent">
        </div>
    </div>
    <div class="grid grid-cols-2 gap-16 items-center">
        <div>
            <p class="uppercase font-display w-[500px] text-7xl pt-15">
                Codigo limpio, <span class="text-[#7c6fff]">eficiente</span> y robusto.
            </p>
            <p class="w-[500px] pt-8 font-mono text-gray-400">
                Hola, mi nombre es Sebastian Santacruz y soy un desarrollador backend con experiencia en lenguajes como Java, C++, JS, TypeScript Python y estos con sus debidos frameworks.<br><br>
                Soy estudiante de la Universidad del Valle del programa de Tecnologia en Desarrollo de software. Me caracterizo por mi gran liderazgo, buen trabajo en equipo y comunicacion efectiva ademas de mis habilidades tecnicas.
            </p>
        </div>
        
        <div class="relative w-[300px] h-[400px] mx-auto mt-15">
            <div class="absolute -top-3 -right-3 w-full h-full border border-[#7c6fff]/40"></div>
            <img src="/foto-sebastian.JPG" alt="Sebastian" class="w-full h-full object-cover hover:grayscale-0 transition-all duration-500" />
            <div class="absolute inset-0 bg-[#7c6fff]/10 hover:bg-transparent transition-all duration-500"></div>
            <div class="absolute -bottom-4 -left-4 bg-[#0a0a0f] border border-[#7c6fff]/40 px-4 py-2">
                <p class="font-mono text-xs tracking-widest text-[#7c6fff]">SEBASTIAN.jpg</p>
            </div>
        </div>
    </div>
    <div class="bg-[#0E0B18] w-[600px] h-[200px] border-[#7c6fff]/20 border py-3 px-4 mt-8 mb-6">
        <div class="pb-3">
            <span class="inline-block w-[6px] h-[6px] rounded-full bg-red-400 mr-1 select-none"></span>
            <span class="inline-block w-[6px] h-[6px] rounded-full bg-yellow-400 mr-1 select-none"></span>
            <span class="inline-block w-[6px] h-[6px] rounded-full bg-green-400 mr-1 select-none"></span>
        </div>
        <p class="font-mono text-sm text-gray-400/50">
            $ whoami
        </p>
        <p class="font-mono text-sm text-gray-400 pb-2">
            → backend-developer, clean-coder, problem-solver
        </p>
        <p class="font-mono text-sm text-gray-400/50">
            $ location
        </p>
        <p class="font-mono text-sm text-gray-400 pb-2">
            → Palmira, Valle del cauca, Colombia
        </p>
        <p class="font-mono text-sm text-gray-400/50">
            $ status
        </p>
        <p class="font-mono text-sm text-green-400 pb-2">
            → OPEN TO WORK ✓ 
        </p>

    </div>
</section>