<section id="contacto" class="relative text-white pb-0 pt-30 px-20 min-h-screen">
    <span class="absolute bottom-30 right-0 text-[23rem] font-black text-[#7c6fff]/3 leading-none select-none pointer-events-none scale-x-70">
        06
    </span>
    <div class="flex items-center gap-10 pb-10">
        <p class="font-mono text-sm tracking-widest text-[#7c6fff] whitespace-nowrap uppercase">
            06 / Contacto
        </p>
        <div class="flex-1 h-[1px] bg-gradient-to-r from-[#7c6fff] to-transparent">
        </div>
    </div>

    <div class="grid grid-cols-[500px_1fr] gap-16" >
        <div>
            <h2 class="font-display text-8xl pb-5">
                Descubre mas <span class="text-[#7c6fff]">sobre mi</span>
            </h2>
            <p class="font-mono text-gray-400 pb-10">
                Puedes conocer mas sobre mi y sobre como trabajo contactandote conmigo a traves de mis redes sociales. Normalmente respondo en menos de 24 horas.
            </p>
            <a 
                href="https://github.com/SebasJRHub" 
                target="_blank" 
                rel="noopener noreferrer"
                class="block border-b border-[#7c6fff]/20 pb-3 relative mb-5 cursor-pointer 
                        transition-all duration-150
                        hover:border-[#7c6fff]/60 hover:pl-2
                        active:scale-95 active:opacity-70
                        group"
                >
                <p class="font-mono text-xs text-gray-400/50 uppercase tracking-widest">
                    Github
                </p>
                <p>
                    @SebasJRHub
                </p>
                <span class="absolute top-3 right-0 font-mono text-sm text-gray-400/50">
                    🡥
                </span>
            </a>
            <a 
                href="https://www.linkedin.com/in/sebastian-santacruz-8a8a212a9/" 
                target="_blank" 
                rel="noopener noreferrer"
                class="block border-b border-[#7c6fff]/20 pb-3 relative mb-5 cursor-pointer 
                        transition-all duration-150
                        hover:border-[#7c6fff]/60 hover:pl-2
                        active:scale-95 active:opacity-70
                        group"
>
                <p class="font-mono text-xs text-gray-400/50 uppercase tracking-widest">
                    Linkein
                </p>
                <p>
                    in/sebastian-santacruz
                </p>
                <span class="absolute top-3 right-0 font-mono text-sm text-gray-400/50">
                    🡥
                </span>
            </a>
            
        </div>
        <form action="/api/contact" method="POST">
            <div class="field flex flex-col gap-3 mb-5">
                <label class="font-mono text-[#7c6fff] uppercase font-semibold text-xs tracking-widest">NOMBRE</label>
                <input type="text" placeholder="Tu nombre completo" class="border-b border-[#7c6fff]/20 pb-3 outline-none focus:outline-none focus:ring-0 ">
            </div>

            <div class="field flex flex-col gap-3 mb-5">
                <label class="font-mono text-[#7c6fff] uppercase font-semibold text-xs tracking-widest">EMAIL</label>
                <input type="email" placeholder="tu@email.com" class="border-b border-[#7c6fff]/20 pb-3 outline-none focus:outline-none focus:ring-0 ">
            </div>

            <div class="field flex flex-col gap-3 mb-5">
                <label class="font-mono text-[#7c6fff] uppercase font-semibold text-xs tracking-widest ">MENSAJE</label>
                <textarea placeholder="Cuéntame sobre tu proyecto o idea..." class="resize-none border-b border-[#7c6fff]/20 pb-3 h-30 outline-none focus:outline-none focus:ring-0"></textarea>
            </div>

            <button>ENVIAR MENSAJE ↗</button>
        </form>
        
    </div>

</section>