<section id="formacion" class="relative text-white pb-0 pt-20 px-20 min-h-screen">
    <span class="absolute bottom-30 right-0 text-[23rem] font-black text-[#7c6fff]/3 leading-none select-none pointer-events-none scale-x-70">
        05
    </span>
    <div class="flex items-center gap-10 pb-10">
        <p class="font-mono text-sm tracking-widest text-[#7c6fff] whitespace-nowrap uppercase">
            05 / mi formacion
        </p>
        <div class="flex-1 h-[1px] bg-gradient-to-r from-[#7c6fff] to-transparent">
        </div>
    </div>
    <div class="grid grid-cols-[300px_1fr] gap-16">
        <h2 class="uppercase font-display text-7xl">
            Formacion y <span class="text-[#7c6fff]">certificados</span>
        </h2>
        <div class="relative">
            <div class="absolute left-0 top-0 h-full w-[1px] bg-gradient-to-b from-[#7c6fff]/50 to-transparent"></div>

            <div class="flex flex-col gap-12">

                <div class="relative pl-10">
                    <!-- diamante -->
                    <div class="absolute left-[-5px] top-1 w-[10px] h-[10px] bg-[#7c6fff] rotate-45 " ></div>
                    <!-- badge -->
                    <span class="font-mono text-xs border border-[#7c6fff]/40 text-[#7c6fff] px-2 py-[2px] mb-3 inline-block">Universidad</span>
                    <div class="flex items-center gap-4">
                        <h3 class="font-bold text-lg">Tecnologia en Desarrollo de software</h3>
                        <span class="font-mono text-xs text-gray-600">2024-Actualidad</span>
                    </div>
                    <p class="font-mono text-sm text-[#7c6fff] mt-1">Universidad del Valle</p>
                    <p class="font-mono text-xs text-gray-500 mt-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita maxime ex iusto voluptas repellendus. Labore, dolor laborum. Vitae pariatur quia quaerat sit soluta veniam, magni doloremque vero minima, error eos.</p>
                </div>

                <div class="relative pl-10">
                    <div class="absolute left-[-5px] top-1 w-[10px] h-[10px] bg-[#7c6fff] rotate-45">
                    </div>
                    <span class="font-mono text-xs border border-[#7c6fff]/40 text-[#7c6fff] px-2 py-[2px] mb-3 inline-block">BOOTCAMP</span>
                    <div class="flex items-center gap-4">
                        <h3 class="font-bold text-lg">Desarrollo de software</h3>
                        <span class="font-mono text-xs text-gray-600">2025</span>
                    </div>
                    <p class="font-mono text-sm text-[#7c6fff] mt-1">Fundacion Toca Una Vida</p>
                    <p class="font-mono text-xs text-gray-500 mt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, culpa eos, id corporis quas consequatur incidunt accusamus qui reiciendis natus, rem odio eum mollitia totam dolorum velit quam in voluptatibus?</p>
                </div>
                <div class="relative pl-10">
                    <div class="absolute left-[-5px] top-1 w-[10px] h-[10px] bg-[#7c6fff] rotate-45">
                    </div>
                    <span class="font-mono text-xs border border-[#7c6fff]/40 text-[#7c6fff] px-2 py-[2px] mb-3 inline-block">Curso</span>
                    <div class="flex items-center gap-4">
                        <h3 class="font-bold text-lg">Fundamentos de ciberseguridad</h3>
                        <span class="font-mono text-xs text-gray-600">2025</span>
                    </div>
                    <p class="font-mono text-sm text-[#7c6fff] mt-1">Fortinet</p>
                    <p class="font-mono text-xs text-gray-500 mt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, culpa eos, id corporis quas consequatur incidunt accusamus qui reiciendis natus, rem odio eum mollitia totam dolorum velit quam in voluptatibus?</p>
                </div>
            </div>
        </div>
    </div>
</section>