<header class="flex justify-between items-center px-10 py-4 fixed top-0 w-full z-50">
   <a href="/" class="font-bold text-[#7c6fff] text-base tracking-wider no-underline">
    &lt;seb_dev/&gt;
  </a>
    <nav class="flex gap-8">
    <a href="/" class="font-mono text-xs tracking-widest text-gray-400 hover:text-[#7c6fff] transition-colors group relative py-2" >
        01 inicio
    <span class="absolute bottom-0 left-0 h-0.5 w-full origin-left scale-x-0 transform bg-[#7c6fff] transition-transform duration-500 ease-out group-hover:scale-x-100 "></span>
    </a>
    <a href="/sobre-mi" class="font-mono text-xs tracking-widest text-gray-400 hover:text-[#7c6fff] transition-colors group relative py-2">
        02 sobre mi
    <span class="absolute bottom-0 left-0 h-0.5 w-full origin-left scale-x-0 transform bg-[#7c6fff] transition-transform duration-500 ease-out group-hover:scale-x-100 "></span>
    </a>
    <a href="/skills" class="font-mono text-xs tracking-widest text-gray-400 hover:text-white transition-colors group relative py-2">
        03 skills
    <span class="absolute bottom-0 left-0 h-0.5 w-full origin-left scale-x-0 transform bg-[#7c6fff] transition-transform duration-500 ease-out group-hover:scale-x-100 "></span>
    </a>
    <a href="/proyectos" class="font-mono text-xs tracking-widest text-gray-400 hover:text-white transition-colors group relative py-2">
        04 proyectos
    <span class="absolute bottom-0 left-0 h-0.5 w-full origin-left scale-x-0 transform bg-[#7c6fff] transition-transform duration-500 ease-out group-hover:scale-x-100 "></span>
    </a>
    <a href="/educacion" class="font-mono text-xs tracking-widest text-gray-400 hover:text-white transition-colors group relative py-2">
        05 educación
    <span class="absolute bottom-0 left-0 h-0.5 w-full origin-left scale-x-0 transform bg-[#7c6fff] transition-transform duration-500 ease-out group-hover:scale-x-100 "></span>
    </a>
    <a href="/contacto" class="font-mono text-xs tracking-widest text-gray-400 hover:text-white transition-colors group relative py-2">
        06 contacto
    <span class="absolute bottom-0 left-0 h-0.5 w-full origin-left scale-x-0 transform bg-[#7c6fff] transition-transform duration-500 ease-out group-hover:scale-x-100 "></span>
    </a>
  </nav>


</header>