<section id="proyectos" class="relative text-white pb-0 pt-20 px-20 min-h-screen">
    <span class="absolute bottom-0 left-0 text-[23rem] font-black text-[#7c6fff]/3 leading-none select-none pointer-events-none scale-x-70">
        04
    </span>
    <div class="flex items-center gap-10 pb-10">
        <p class="font-mono text-sm tracking-widest text-[#7c6fff] whitespace-nowrap uppercase">
            04 / mis proyectos
        </p>
        <div class="flex-1 h-[1px] bg-gradient-to-r from-[#7c6fff] to-transparent">
        </div>
    </div>
    <div class="grid grid-cols-[80px_1fr_90px_100px_40px] gap-20 items-center border-b border-[#7c6fff]/20 py-8 group hover:bg-white/2  transition-all px-4 -mx-4">
        <p class="font-mono text-xs text-gray-400/50 group-hover:text-[#7c6fff]">
            001
        </p>
        <div>
            <h3 class="font-display text-5xl">
                Tinto<span class="text-[#7c6fff]">Lab</span>
            </h3>
            <p class="font-mono text-sm text-gray-400/50">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto natus commodi ad. Eos iusto, nobis nesciunt eum voluptatum doloremque voluptatem, adipisci architecto sed fugit quod cum eligendi maxime numquam dignissimos!
            </p>
        </div>
        <div class="flex flex-wrap gap-2">
            <span class="font-mono border border-[#7c6fff]/30 py-[2px] px-1 text-[#7c6fff] text-xs">Java</span>
            <span class="font-mono border border-[#7c6fff]/30 py-[2px] px-1 text-[#7c6fff] text-xs">PostgresSQLL</span>
            <span class="font-mono border border-[#7c6fff]/30 py-[2px] px-1 text-[#7c6fff] text-xs">SpringBoot</span>
        </div>
        <p class="font-mono text-sm text-gray-400/50 group-hover:text-[#7c6fff]">
            2026
        </p>
        <a href="https://github.com/SebasJRHub/TintoLab-Back" target="_blank" rel="noopener noreferrer" class="border border-[#7c6fff]/30 w-8 h-8 flex items-center justify-center text-center font-mono text-[#7c6fff]/30  group-hover:border-[#7c6fff] group-hover:text-[#7c6fff] group-hover:-rotate-45 transition-all duration-300">
            🡥
        </a>
    </div>
    <!-- 3 -->
    <div class="grid grid-cols-[80px_1fr_90px_100px_40px] gap-20 items-center border-b border-[#7c6fff]/20 py-8 group hover:bg-white/2  transition-all px-4 -mx-4">
        <p class="font-mono text-xs text-gray-400/50 group-hover:text-[#7c6fff]">
            002
        </p>
        <div>
            <h3 class="font-display text-5xl">
                Travel<span class="text-[#7c6fff]">Fans</span>
            </h3>
            <p class="font-mono text-sm text-gray-400/50">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto natus commodi ad. Eos iusto, nobis nesciunt eum voluptatum doloremque voluptatem, adipisci architecto sed fugit quod cum eligendi maxime numquam dignissimos!
            </p>
        </div>
        <div class="flex flex-wrap gap-2">
            <span class="font-mono border border-[#7c6fff]/30 py-[2px] px-1 text-[#7c6fff] text-xs">React</span>
            <span class="font-mono border border-[#7c6fff]/30 py-[2px] px-1 text-[#7c6fff] text-xs">Java</span>
            <span class="font-mono border border-[#7c6fff]/30 py-[2px] px-1 text-[#7c6fff] text-xs">Supabase</span>
            <span class="font-mono border border-[#7c6fff]/30 py-[2px] px-1 text-[#7c6fff] text-xs">SpringBoot</span>
        </div>
        <p class="font-mono text-sm text-gray-400/50 group-hover:text-[#7c6fff]">
            2026
        </p>
        <a href="https://github.com/SebasJRHub/travelfans" target="_blank" rel="noopener noreferrer" class="border border-[#7c6fff]/30 w-8 h-8 flex items-center justify-center text-center font-mono text-[#7c6fff]/30  group-hover:border-[#7c6fff] group-hover:text-[#7c6fff] group-hover:-rotate-45 transition-all duration-300">
            🡥
        </a>
    </div>
    <div class="grid grid-cols-[80px_1fr_90px_100px_40px] gap-20 items-center border-t border-b border-[#7c6fff]/20 py-8 group hover:bg-white/2  transition-all px-4 -mx-4">
        <p class="font-mono text-xs text-gray-400/50 group-hover:text-[#7c6fff]">
            003
        </p>
        <div>
            <h3 class="font-display text-5xl">
                Task<span class="text-[#7c6fff]">Manager</span>
            </h3>
            <p class="font-mono text-sm text-gray-400/50">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto natus commodi ad. Eos iusto, nobis nesciunt eum voluptatum doloremque voluptatem, adipisci architecto sed fugit quod cum eligendi maxime numquam dignissimos!
            </p>
        </div>
        <div class="flex flex-wrap gap-2">
            <span class="font-mono border border-[#7c6fff]/30 py-[2px] px-1 text-[#7c6fff] text-xs">Java</span>
            <span class="font-mono border border-[#7c6fff]/30 py-[2px] px-1 text-[#7c6fff] text-xs">Supabase</span>
            <span class="font-mono border border-[#7c6fff]/30 py-[2px] px-1 text-[#7c6fff] text-xs">SpringBoot</span>
        </div>
        <p class="font-mono text-sm text-gray-400/50 group-hover:text-[#7c6fff]">
            2026
        </p>
        <a href="https://github.com/SebasJRHub/task-manager" target="_blank" rel="noopener noreferrer" class="border border-[#7c6fff]/30 w-8 h-8 flex items-center justify-center text-center font-mono text-[#7c6fff]/30  group-hover:border-[#7c6fff] group-hover:text-[#7c6fff] group-hover:-rotate-45 transition-all duration-300">
            🡥
        </a>
    </div>
    <div class="grid grid-cols-[80px_1fr_90px_100px_40px] gap-20 items-center border-t border-b border-[#7c6fff]/20 py-8 group hover:bg-white/2  transition-all px-4 -mx-4">
        <p class="font-mono text-xs text-gray-400/50 group-hover:text-[#7c6fff]">
            004
        </p>
        <div>
            <h3 class="font-display text-5xl">
                Biblio<span class="text-[#7c6fff]">soft</span>
            </h3>
            <p class="font-mono text-sm text-gray-400/50">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto natus commodi ad. Eos iusto, nobis nesciunt eum voluptatum doloremque voluptatem, adipisci architecto sed fugit quod cum eligendi maxime numquam dignissimos!
            </p>
        </div>
        <div class="flex flex-wrap gap-2">
            <span class="font-mono border border-[#7c6fff]/30 py-[2px] px-1 text-[#7c6fff] text-xs">React</span>
            <span class="font-mono border border-[#7c6fff]/30 py-[2px] px-1 text-[#7c6fff] text-xs">Java</span>
            <span class="font-mono border border-[#7c6fff]/30 py-[2px] px-1 text-[#7c6fff] text-xs">MySQL</span>
            <span class="font-mono border border-[#7c6fff]/30 py-[2px] px-1 text-[#7c6fff] text-xs">SpringBoot</span>
        </div>
        <p class="font-mono text-sm text-gray-400/50 group-hover:text-[#7c6fff]">
            2025
        </p>
        <a href="https://github.com/SebasJRHub/BiblioSoft-Back" target="_blank" rel="noopener noreferrer" class="border border-[#7c6fff]/30 w-8 h-8 flex items-center justify-center text-center font-mono text-[#7c6fff]/30  group-hover:border-[#7c6fff] group-hover:text-[#7c6fff] group-hover:-rotate-45 transition-all duration-300">
            🡥
        </a>
    </div>
    
    
</section>